@font-face {
  font-family: 'alegreyabold';
  src: url("../fonts/alegreya-bold-webfont.eot");
  src: url("../fonts/alegreya-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alegreya-bold-webfont.woff2") format("woff2"), url("../fonts/alegreya-bold-webfont.woff") format("woff"), url("../fonts/alegreya-bold-webfont.ttf") format("truetype"), url("../fonts/alegreya-bold-webfont.svg#alegreyabold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'alegreyaitalic';
  src: url("../fonts/alegreya-italic-webfont.eot");
  src: url("../fonts/alegreya-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alegreya-italic-webfont.woff2") format("woff2"), url("../fonts/alegreya-italic-webfont.woff") format("woff"), url("../fonts/alegreya-italic-webfont.ttf") format("truetype"), url("../fonts/alegreya-italic-webfont.svg#alegreyaitalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreya-regular-webfont.eot");
  src: url("../fonts/alegreya-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alegreya-regular-webfont.woff2") format("woff2"), url("../fonts/alegreya-regular-webfont.woff") format("woff"), url("../fonts/alegreya-regular-webfont.ttf") format("truetype"), url("../fonts/alegreya-regular-webfont.svg#alegreyaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/lato-italic-webfont.eot");
  src: url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.eot");
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #002855;
  color: #333333;
  font-family: "lato", "Open Sans", Arial, sans-serif !important; }

h1, h2, h3, h4 {
  font-family: "alegreya", Garamond, serif; }

h5, h6, em, blockquote {
  font-family: "latolight", "Open Sans", Arial, sans-serif;
  font-weight: 100; }

#mainForm .btn-flat {
  background-color: #22b573;
  color: white;
  font-family: "latobold", "Open Sans", Arial, sans-serif;
  font-weight: 500; }

.logo-container {
  max-width: 217px;
  max-height: 217px; }

.gold {
  background-color: #af841d;
  color: white; }
  .gold-text {
    color: #af841d; }

.card .card-content {
  padding: 2.5em 2.5em; }

.container {
  width: 90%; }

.copy {
  color: rgba(255, 255, 255, 0.4); }
  .copy h6 {
    line-height: 1.4; }

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
  color: #004ca2; }

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #004ca2;
  box-shadow: 0 1px 0 0 #004ca2; }

/* valid color */
.input-field input[type=text].valid, .input-field input[type=password].valid {
  border-bottom: 1px solid #47dc99;
  box-shadow: 0 1px 0 0 #47dc99; }

/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=password].invalid {
  border-bottom: 1px solid #de403d;
  box-shadow: 0 1px 0 0 #de403d; }

/*# sourceMappingURL=main.css.map */
