body
  background: $primary-color
  color: white
  font-family: $sans-font-family !important

h1, h2, h3, h4
  font-family: $serif-font-family
h5, h6, em, blockquote
  font-family: $sans-font-family-light
  font-weight: 100

#mainForm .btn-flat
  background-color: $cta-color
  color: white
  font-family: $sans-font-family-bold
  font-weight: 500



.gold
  background:
    color: $secondary-color
  color: white
  &-text
    color: $secondary-color

.card .card-content
  padding: 2.5em 5em

.container
  width: 90%
footer .copy
  color: rgba(white, 0.4)
  h6
    line-height: 1.4
