body
  background: $primary-color
  color: $black
  font-family: $sans-font-family !important

h1, h2, h3, h4
  font-family: $serif-font-family
h5, h6, em, blockquote
  font-family: $sans-font-family
  font-weight: 100

#mainForm .btn-flat
  background-color: $cta-color
  color: white
  font-family: $sans-font-family
  font-weight: 500

.logo-container
  max-width: 217px
  max-height: 217px
  @media screen and(max-width: 992px)
    margin: 0 auto

.gold
  background:
    color: $secondary-color
  color: white
  &-text
    color: $secondary-color

.card .card-content
  padding: 2.5em 2.5em

.container
  width: 90%

.copy
  color: rgba(white, 0.4)
  h6
    line-height: 1.4
.card-ribbon
  padding: 1rem 0.5rem
  width: 100%

.login-error
  background:
    color: #fafafa
  border-left: 5px solid color("red", "lighten-2")
  border-radius: 2px
  color: $black
  padding: 10px 8px
  font-weight: 700


//Helpers
.is-hide
  display: none
.is-show
  display: block
  &--inline
    display: inline-block

.brand-logo
  width: 100%
  padding: 0 1rem
  height: 100%
  .user
    &-container
      height: 100%
      transform: translateY(25%)

