//Variables

//Colors
$primary-color: #002855
$secondary-color: #af841d
$black: #333333
$grey: #4d4d4d
$grey-lighten: #f2f2f2
$cta-color: #22b573
$error-color: #b0211e

//Fonts
//Serif
$serif-font-family: 'alegreya', Garamond, serif
$serif-font-family-bold: 'alegreyabold', Garamond, serif
$serif-font-family-light: 'alegreyalight', Garamond, serif

//SansSerif
$sans-font-family: 'lato', 'Open Sans', Arial, sans-serif
$sans-font-family-light: 'latolight', 'Open Sans', Arial, sans-serif
$sans-font-family-bold: 'latobold', 'Open Sans', Arial, sans-serif
$sans-font-family-italic: 'latoitalic', 'Open Sans', Arial, sans-serif
